<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="container">


    <%
    for (var i = 0; i < spots.length; i++) {
    %>
    <h1>Skate Spot Show Page</h1>
      <%=spots[i].name%>
      <%= spots[i].description%>
      <%= spots[i].address%>
    <%
    }
    %>
    </div>
  </body>
</html>
