.header {
  text-align: center;
  padding-bottom: 10px;
  /* margin: auto; */
  background-color: gray;
}

.headerTwo {
  text-align: center;
}

.spot-row {
  text-align: center;
  padding-top: 20px;
}

nav {
  text-align: center;
}

h1 {
  font-size: 45px;
  font-family: 'Rock Salt', cursive;
}

p {
  font-size: 25px;
}

body {
  background-color: gray;
}
