.head {
  text-align: center;
}

.body {
  text-align: center;
}

body {
  background-color: gray;
}

h1 {
    font-size: 45px;
    font-family: 'Rock Salt', cursive;
  }

.footer {
  text-align: center;
  padding: 20px;
}

.btn {
  pading: 10px;
}

.img {
  text-align: center;
}
